@charset "UTF-8";

.cases {
    width: 100%;
    min-height: 100vh;
    padding: 35px 100px;
}

.cases__title, .cases__description {
    text-align: center;
}

.cases__title {
    margin-top: 2rem;
}

.cases__description {
    width: 28%;
    margin: 1rem auto;
    color: var(--font-color-2);
}

.cases__content {
    width: 100%;
    min-height: 30vh;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2rem;
}

.cases__sidebar {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--background-1);
    border-radius: var(--border-radius-1);
    /* box-shadow: 0 0.35rem 10px rgba(0, 0, 0, 0.2); */
}

.cases__sidebarSection {
    cursor: pointer;
    padding: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: var(--border-1);
    border-radius: 25px;
}

.cases__sidebarSection svg {
    transform: scale(1.5);
}

.cases__main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cases__toolbar {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

.cases__search, .cases__sort {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}

.cases__search {
    display: flex;
    gap: 0.5rem;
}

.cases__search input {
    width: 100%;
    border: var(--border-1);
}

.cases__search button {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background: var(--background-2);
    transition: all 0.3s ease; 
}

.cases__search button:hover {
    background: #435CFF;
    transition: all 0.3s ease;
    box-shadow: 0 0 15px #435CFF;
}

.cases__search button svg {
    color: #fff;
    transform: scale(1.76);
}

.cases__sort {
    position: relative;
    cursor: pointer;
    padding: 0rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: var(--border-1);
}

.cases__sort::after {
    position: absolute;
    top: 1rem;
    left: 0.75rem;
    content: "";
    width: 8px;
    height: 24px;
    border-radius: 100px    ;
    background-color: var(--background-2);
}

.cases__sort svg {
    transform: scale(1.5);
}


.cases__list {
    width: 100%;
    min-height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.case__item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 360px;
    padding: 1rem;
    background: var(--background-1);
    box-shadow: var(--box-shadow-1);
    border-radius: var(--border-radius-1);
    transition: all 0.3s ease;
}

.case__itemContent {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.case__author {
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.case__item:hover {
    transform: scale(1.025);
}

.case__difficulty {
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: space-between;
    background: var(--background-2);
    border-radius: 100px;
    transition: all 0.3s ease;  
}

.case__difficultyProgressBar {
    width: 100%;
    height: 5px;
    background-color: var(--background-1);
    border-radius: 100px;
}

.case__difficultyProgress {
    width: 15%;
    height: 100%;
    border-radius: 100px;
    transition: all 0.3s ease;
    background: var(--background-3);
}

.middle {
    width: 50%;
}

.hard {
    width: 100%;
}

.case__tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    min-height: 2vh;
    gap: 0.5rem;
}

.case__tag {
    padding: 0.5rem 0.75rem;
    color: #fff;
    background: var(--background-3);
    border-radius: var(--border-radius-2);
}

.case__author {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.case__authorIcon {
    width: 45px;
    height: 45px;
    border-radius: 100px;
    background: var(--background-2);
}

.cases__pagination {
    width: 100%;
    height: 60px;
    margin: 1rem 0;
}

.cases__paginationBody {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.cases__paginationArrow, .cases__paginationItem {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: var(--background-1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    /* border: 1px solid rgba(0, 0, 0, 0.2); */
    box-shadow: 0 0.35rem 10px rgba(0, 0, 0, 0.2);
}

.cases__paginationList {
    display: flex;
    gap: 0.5rem;
}