@charset "UTF-8";

.status {
    display: block;
}

.status p {
    width: 100%;
    color: #4a4aee;
    padding: 0.5rem 1rem;
    text-align: center;
    border-radius: 8px;
    font-weight: 600;
    background: var(--background-process);
    transition: all 0.3s ease;
}

.status__accepted p {
    color: #0edf12;
    background: var(--background-accept);
}

.status__rejected p {
    color: #ed2929;
    background: var(--background-reject);
}